*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/activityLibrary/card/src/androidTest/
/activityLibrary/card/src/test/
/activityLibrary/dash/src/androidTest/
/activityLibrary/dash/src/test/
/activityLibrary/home/src/androidTest/
/activityLibrary/home/src/test/
/gameLibrary/src/androidTest/
/gameLibrary/src/test/
/imLibrary/src/test/
/imLibrary/src/androidTest/java/com/daylong/Metapusher/im/
/mainLibrary/src/androidTest/
/mainLibrary/src/androidTest/
/msgLibrary/src/test/
/rechargeLibaray/src/androidTest/
/rechargeLibaray/src/test/
/matisse/build/
/matisse/.idea/
